<div class="mt-5">
    <form method="get" action="">
        <div class="form-group">
            <label for="search-Input">Tìm Kiếm</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>